In [1]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_excel("./SELSP_simOpt/DoE/DoE - Results v5.xlsx")

def round_values(smax_str):
    values = [float(x) for x in smax_str.strip('[]').split(', ')]
    rounded_values = [f"{val:.1f}" for val in values]
    # return "[" + ", ".join(rounded_values) + "]"
    return rounded_values

def round_float(value):
    return np.round(value, 1)

# Define a custom function to create tuples
def create_tuples(row):
    return [(smin, smax) for smin, smax in zip(row['Smin'], row['Smax'])]


# Apply the custom function to the "Smax" column
df['Smax'] = df['Smax'].apply(round_values)
df['Smin'] = df['Smin'].apply(round_values)
df['Cost'] = df['Cost'].apply(round_float)
df['SL'] = df['SL'].apply(round_float)

# Create a new column containing tuples
df['(s, S)'] = df.apply(create_tuples, axis=1)

df_latex = df[[col for col in df.columns if col not in ['Smin', 'Smax'] ]].copy()
df_latex.columns = ['OrdemPad', 'OrdemEns', 'N', 'cv', 'rho', 'p', 'Algoritmo', 'Custo', 'SL', '(s, S)']

# Define a custom function to format float values as strings
def format_as_string(value):
    if isinstance(value, float):
        return f"{value:,.1f}".replace(',', 'T').replace('.', ',').replace('T', '.')
    elif isinstance(value, list):
        formatted_list = [f"({float(x[0]):,.1f}".replace(',', 'X').replace('.', ',').replace('X', '.') + \
                      f"; {float(x[1]):,.1f}".replace(',', 'X').replace('.', ',').replace('X', '.') + ')'
                     for x in value]
        return ", ".join(formatted_list)
        # return "[" + ", ".join(formatted_list) + "]"
        
    return str(value)

In [45]:
df_latex_print = df_latex.applymap(format_as_string)

# Select the first 10 rows
df_head = df_latex_print.head(15)

# Select the last 10 rows
df_tail = df_latex_print.tail(15)

# Create a row with empty values (or "...") to insert between the DataFrames
empty_row = pd.DataFrame({'OrdemPad': ['...']})

# Concatenate the selected rows into a single DataFrame
df_selected = pd.concat([df_head, empty_row, df_tail])

print(df_selected.to_latex(index=False, formatters={"name": str.upper}, na_rep=""))

\begin{tabular}{llllllllll}
\toprule
OrdemPad & OrdemEns &  N &  cv & rho &   p & Algoritmo &     Custo &    SL &                                             (s, S) \\
\midrule
     470 &        1 &  5 & 0,2 & 0,7 & 0,0 &        NM & 103.489,4 &  99,1 & (1.201,4; 1.399,2), (914,7; 1.658,8), (639,6; 1... \\
     395 &        2 & 20 & 0,2 & 0,9 & 0,1 &        GA & 169.395,4 &  99,5 & (10,6; 19,1), (44,2; 647,5), (136,9; 517,6), (1... \\
     376 &        3 & 20 & 0,2 & 0,8 & 0,0 &       ACO & 160.969,9 &  98,7 & (60,0; 270,0), (155,0; 215,0), (560,0; 635,0), ... \\
     312 &        4 & 10 & 0,5 & 0,8 & 0,1 &       ACO & 100.176,4 &  99,3 & (175,0; 365,0), (260,0; 455,0), (585,0; 715,0),... \\
     968 &        5 & 10 & 0,5 & 0,9 & 0,1 &       ACO & 105.675,8 &  99,7 & (435,0; 825,0), (120,0; 490,0), (655,0; 935,0),... \\
      64 &        6 & 20 & 0,2 & 0,9 & 0,0 &       ACO & 178.758,1 &  99,6 & (535,0; 700,0), (15,0; 105,0), (35,0; 155,0), (... \\
     465 &        7 &  5 & 0,1 & 0,9 & 0,1 &        RD &  71.023,1 &  99,6 & (376,4; 781,6), (849,3; 928,3), (603,9; 630,8),... \\
     292 &        8 & 10 & 0,5 & 0,7 & 0,0 &       ACO & 134.373,5 &  96,9 & (95,0; 195,0), (810,0; 835,0), (895,0; 915,0), ... \\
     708 &        9 & 20 & 0,2 & 0,8 & 0,1 &       ACO & 162.261,0 &  96,5 & (330,0; 480,0), (165,0; 340,0), (295,0; 365,0),... \\
     231 &       10 & 10 & 0,1 & 0,8 & 0,0 &        GA & 109.521,2 &  98,1 & (355,6; 421,0), (67,3; 115,5), (202,3; 381,7), ... \\
     417 &       11 & 20 & 0,5 & 0,8 & 0,1 &        RD & 175.688,9 &  97,2 & (229,6; 745,5), (133,9; 304,8), (68,6; 999,9), ... \\
     624 &       12 & 10 & 0,5 & 0,7 & 0,1 &       ACO & 134.581,1 &  95,3 & (395,0; 560,0), (430,0; 640,0), (50,0; 280,0), ... \\
     414 &       13 & 20 & 0,5 & 0,8 & 0,1 &        NM & 139.206,4 & 100,0 & (268,7; 489,6), (214,7; 380,5), (324,9; 505,6),... \\
     861 &       14 &  5 & 0,5 & 0,9 & 0,1 &        RD &  82.533,4 &  99,2 & (237,9; 430,9), (156,1; 348,4), (904,4; 958,2),... \\
       5 &       15 & 20 & 0,1 & 0,7 & 0,1 &        RD & 153.345,0 &  99,6 & (675,3; 953,4), (211,1; 394,6), (267,6; 505,8),... \\
     ... &          &    &     &     &     &           &           &       &                                                    \\
     610 &      958 & 10 & 0,2 & 0,9 & 0,1 &        NM &  85.176,4 &  99,8 & (183,3; 483,9), (314,1; 657,7), (277,5; 549,5),... \\
     542 &      959 & 10 & 0,1 & 0,7 & 0,0 &        NM & 113.270,7 &  98,8 & (136,2; 489,8), (223,2; 422,4), (553,1; 656,7),... \\
     253 &      960 & 10 & 0,2 & 0,7 & 0,0 &        RD & 126.196,0 &  97,4 & (518,2; 749,4), (668,8; 914,1), (78,4; 279,2), ... \\
     914 &      961 & 10 & 0,2 & 0,8 & 0,0 &        NM & 107.816,9 &  98,0 & (174,6; 520,1), (445,4; 688,6), (498,8; 649,1),... \\
     161 &      962 &  5 & 0,2 & 0,8 & 0,1 &        RD &  93.021,3 &  97,2 & (585,6; 802,3), (223,8; 539,3), (784,3; 797,7),... \\
     725 &      963 & 20 & 0,5 & 0,7 & 0,1 &        RD & 174.823,8 &  97,5 & (11,7; 164,4), (160,1; 268,0), (312,6; 579,1), ... \\
     212 &      964 &  5 & 0,5 & 0,9 & 0,1 &       ACO &  84.695,7 &  98,8 & (90,0; 290,0), (355,0; 595,0), (250,0; 255,0), ... \\
     460 &      965 &  5 & 0,1 & 0,9 & 0,0 &       ACO &  66.688,9 &  99,9 & (305,0; 795,0), (615,0; 670,0), (220,0; 705,0),... \\
     886 &      966 & 10 & 0,1 & 0,8 & 0,1 &        NM &  97.171,1 &  99,7 & (481,3; 904,1), (283,1; 283,1), (223,4; 636,2),... \\
     150 &      967 &  5 & 0,2 & 0,7 & 0,1 &        NM & 146.411,3 &  94,8 & (1.985,1; 2.081,7), (692,2; 692,2), (883,6; 883... \\
      10 &      968 & 20 & 0,1 & 0,7 & 0,1 &        NM & 147.620,4 &  99,5 & (300,4; 522,2), (388,1; 626,4), (380,9; 602,8),... \\
     524 &      969 &  5 & 0,5 & 0,8 & 0,1 &       ACO &  87.810,4 &  97,6 & (320,0; 760,0), (480,0; 555,0), (795,0; 930,0),... \\
     732 &      970 & 20 & 0,5 & 0,7 & 0,1 &       ACO & 189.504,2 &  99,1 & (730,0; 850,0), (440,0; 980,0), (245,0; 395,0),... \\
     533 &      971 &  5 & 0,5 & 0,9 & 0,1 &        RD &  72.704,1 &  98,6 & (375,3; 626,8), (499,9; 650,0), (145,8; 296,0),... \\
     972 &      972 & 10 & 0,5 & 0,9 & 0,1 &       ACO & 115.019,3 &  99,5 & (415,0; 890,0), (490,0; 610,0), (390,0; 595,0),... \\
\bottomrule
\end{tabular}

In [44]:
df.groupby(by=['algorithm']).agg({'Cost':['mean', 'std'],'SL':['mean', 'std'] }).round(2)

                Cost               SL
                mean       std   mean   std
algorithm
ACO        133173.14  37525.93  97.48  3.07
GA         138236.79  37815.27  96.56  4.10
NM         115424.01  27708.92  98.91  1.62
RD         133588.31  35908.79  97.24  3.49

In [48]:
table = df.groupby(by=['p']).agg({'Cost':['mean', 'std'],'SL':['mean', 'std'] }).round(2)
print(table.to_latex(index=True, formatters={"name": str.upper}, na_rep=""))

\begin{tabular}{lrrrr}
\toprule
{} & \multicolumn{2}{l}{Cost} & \multicolumn{2}{l}{SL} \\
{} &       mean &       std &   mean &   std \\
p    &            &           &        &       \\
\midrule
0.00 &  128612.01 &  34563.72 &  97.65 &  3.24 \\
0.05 &  129988.41 &  35364.88 &  97.50 &  3.43 \\
0.15 &  131716.26 &  38022.37 &  97.49 &  3.27 \\
\bottomrule
\end{tabular}

In [49]:
table = df.groupby(by=['N']).agg({'Cost':['mean', 'std'],'SL':['mean', 'std'] }).round(2)
print(table.to_latex(index=True, formatters={"name": str.upper}, na_rep=""))

\begin{tabular}{lrrrr}
\toprule
{} & \multicolumn{2}{l}{Cost} & \multicolumn{2}{l}{SL} \\
{} &       mean &       std &   mean &   std \\
N  &            &           &        &       \\
\midrule
5  &  113443.56 &  41486.46 &  95.27 &  4.74 \\
10 &  112458.95 &  13878.13 &  98.54 &  1.25 \\
20 &  164414.18 &  14511.26 &  98.83 &  1.03 \\
\bottomrule
\end{tabular}

In [50]:
table = df.groupby(by=['cv']).agg({'Cost':['mean', 'std'],'SL':['mean', 'std'] }).round(2)
print(table.to_latex(index=True, formatters={"name": str.upper}, na_rep=""))

\begin{tabular}{lrrrr}
\toprule
{} & \multicolumn{2}{l}{Cost} & \multicolumn{2}{l}{SL} \\
{} &       mean &       std &   mean &   std \\
cv   &            &           &        &       \\
\midrule
0.10 &  131018.56 &  38131.75 &  97.41 &  3.83 \\
0.25 &  129191.77 &  35346.70 &  97.53 &  3.33 \\
0.50 &  130106.36 &  34507.78 &  97.70 &  2.67 \\
\bottomrule
\end{tabular}

In [51]:
table = df.groupby(by=['rho']).agg({'Cost':['mean', 'std'],'SL':['mean', 'std'] }).round(2)
print(table.to_latex(index=True, formatters={"name": str.upper}, na_rep=""))

\begin{tabular}{lrrrr}
\toprule
{} & \multicolumn{2}{l}{Cost} & \multicolumn{2}{l}{SL} \\
{} &       mean &       std &   mean &   std \\
rho &            &           &        &       \\
\midrule
0.7 &  148600.31 &  28440.41 &  95.73 &  4.62 \\
0.8 &  126623.52 &  29031.93 &  97.84 &  2.26 \\
0.9 &  115092.85 &  40777.61 &  99.07 &  0.86 \\
\bottomrule
\end{tabular}

In [52]:
table = df.groupby(by=['algorithm']).agg({'Cost':['mean', 'std'],'SL':['mean', 'std'] }).round(2)
print(table.to_latex(index=True, formatters={"name": str.upper}, na_rep=""))

\begin{tabular}{lrrrr}
\toprule
{} & \multicolumn{2}{l}{Cost} & \multicolumn{2}{l}{SL} \\
{} &       mean &       std &   mean &   std \\
algorithm &            &           &        &       \\
\midrule
ACO       &  133173.14 &  37525.93 &  97.48 &  3.07 \\
GA        &  138236.79 &  37815.27 &  96.56 &  4.10 \\
NM        &  115424.01 &  27708.92 &  98.91 &  1.62 \\
RD        &  133588.31 &  35908.79 &  97.24 &  3.49 \\
\bottomrule
\end{tabular}